.container_all{
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100wh;
    gap: 3rem;
}
/* .container_img{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 3px solid black;
    padding-bottom: 1rem;
    width: 100%;
}
#logo{
    width: 400px;
}
#petit{
    padding: 1rem;
    width: 35px;
    height: 35px;
}
#petit:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.445);
    border-radius: 1rem;
} */
.display_other_component{
    position:fixed;
    top: 50%;
    right: calc(50%-(50%/2));
    width: 50%;
}