<div class="container">
    <img src="logo_transparent.png" alt="">
    <div class="container_forms">
        <app-login-form></app-login-form>
        <app-create-account-form></app-create-account-form>
    </div>
    <h2>Règles du Wordle</h2>
    <p>Le <strong>Wordle</strong> est un jeu de mots où le but est de deviner un mot secret en un nombre limité de tentatives. À chaque essai, vous proposez un mot de même longueur que le mot à deviner. Le jeu vous donne ensuite un retour visuel :</p>
    <ul>
        <li><strong>Lettre en rouge</strong> : la lettre est correcte et à la bonne position.</li>
        <li><strong>Lettre en jaune</strong> : la lettre est correcte mais mal placée.</li>
        <li><strong>Lettre en bleu</strong> : la lettre ne fait pas partie du mot.</li>
    </ul>
    <p>Continuez à deviner en utilisant ces indices jusqu'à trouver le mot secret ou épuiser vos tentatives. Bonne chance !</p>
</div>
